@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Rubik', sans-serif;
    background-color: #E8E1D9;
  }
  
  .capital {
    text-transform: capitalize;
  }

  /*comienza header*/

header {
    background-color: #E8E1D9;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px #125C13;
    z-index: 100;
  }

  .h1 {
    margin-left: 10px;
  
    a {
      text-decoration: none;
      color: #125C13;
    }
  }

  /*comienza navBar*/

.navBar {
    margin: 5px 5px;
  
    ul {
      li {
        display: inline-block;
        padding: 15px;
      }
  
      ul {
        li {
          padding: 1px;
        }
  
        display: none;
        padding-top: 30px;
        background-color: #E8E1D9;
        z-index: 11;
      }
  
      li {
        a {
          text-decoration: none;
          font-weight: 600;
          color: #125C13;
        }
  
        &:hover ul {
          display: flex;
          position: fixed;
          flex-direction: column;
        }
      }
    }
  
    li a:hover {
      background-color: grey;
      border-radius: 10px 10px;
      padding: 3px 3px;
      padding-bottom: 0px;
    }
  }
  
  /*termina navBar*/

  .form {
    margin-right: 10px;
  }

  /*termina header*/

  .escala img:hover {
    transform: scale(1.01);
  }
  
  .encabezado {
    width: 100%;
    height: 900px;
  }

  /*main index*/

.refText {
    text-decoration: none;
    color: cadetblue;
    font-weight: 500;
  }
  
  main {
    margin: 20px 100px;
    font-weight: 300;
  }
  
  .gridContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: "santuarios textoSantuario" "salud textoSalud" "ecologia textoEcologia";
    margin: 50px;
    padding: 30px;
  }
  
  .imgSantuarios {
    grid-area: santuarios;
  }
  
  .textoSantuarios {
    grid-area: textoSantuario;
  }
  
  .textoSalud {
    grid-area: textoSalud;
  }
  
  .imgSalud {
    grid-area: salud;
  }
  
  .textoEcologia {
    grid-area: textoEcologia;
  }
  
  .imgEcologia {
    grid-area: ecologia;
  }
  
  .imgMain {
    width: 100%;
    height: 400px;
    border-radius: 5px;
  }

  .imgSecciones {
    width: 500px;
    height: 400px;
    border-radius: 50px;
  }
  
  /*termina main index*/

  /*comienza footer*/

.footer {
    display: flex;
    background-image: linear-gradient(#E8E1D9, #aae4ab);
    width: 100%;
    height: 80px;
    border-top: solid 3px #125C13;
  
    ul li {
      list-style-type: none;
      padding: 0px 15px;
    }
  }
  
  /*termina fotter*/

  /*main secciones*/

.gridContainerSecciones {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: "auto auto auto";
    grid-template-areas: "div1 div2 div3" "div4 div5 div6" "div7 div8 div9";
    margin: 50px;
    padding: 20px;
    font-weight: 400;
  }
  
  .div1 {
    grid-area: div1;
  }
  
  .div2 {
    grid-area: div2;
  }
  
  .div3 {
    grid-area: div3;
  }
  
  .div4 {
    grid-area: div4;
  }
  
  .div5 {
    grid-area: div5;
  }
  
  .div6 {
    grid-area: div6;
  }
  
  .div7 {
    grid-area: div7;
  }
  
  .div8 {
    grid-area: div8;
  }
  
  .div9 {
    grid-area: div9;
  }
  
  .cuadrito {
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
  }
  
  /*termina main secciones*/

  /*estilo de los H2*/

.cajaH2 {
    width: 100%;
    height: 400px;
    position: relative;
  }
  
  .imgCaja {
    width: 100%;
    height: 100%;
    opacity: 40%;
  }
  
  .txtEnImg {
    display: block;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    width: 50%;
    height: 60%;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    padding-left: 500px;
    opacity: 60%;
  }
  
  .imgCaja:hover {
    filter: blur(5px);
  }
  
  /*termina estilo de los H2*/

  /*clases generales*/

.centro {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #125C13;
  }
  
  .marginUl {
    margin-left: 600px;
  }
  
  .paddingUl {
    padding: 5px 5px;
  }